*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url(light_blue.png);
  background-size: cover;
  background-attachment: fixed;
}
.navbar{
  height: 70px;
  width: 100%;
  padding: 14px 30px;
  background-color: white;
  position: relative;
}
.navbar .nav-header{
  display: inline;
}
.navbar .nav-header .nav-logo{
  display: inline-block;
  margin-top: -7px;
}
.navbar .nav-links{
  display: inline;
  float: right;
  font-size: 18px;
}
 
.navbar .nav-links .loginBtn{
  display: inline-block;
  padding: 5px 15px;
  margin-left: 20px;
  font-size: 17px;
  color: Black;
}
.navbar .nav-links a{
  padding: 10px 12px;
  text-decoration: none;
  font-weight: 550;
  color: black;
}

.navbar .nav-links a:hover{
  background-color: rgba(0, 0, 0, 0.3);
}
 
.navbar #nav-check, .navbar .nav-btn{
  display: none;
}
 
@media (max-width:1050px) {
  .navbar .nav-btn{
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .navbar .nav-btn label {
    display: inline-block;
    width: 80px;
    height: 70px;
    padding: 25px;
  }
  .navbar .nav-btn label span {
    display: block;
    height: 10px;
    width: 25px;
    border-top: 3px solid #eee;
  }
  .navbar .nav-btn label:hover, .navbar #nav-check:checked ~ .nav-btn label {
    background-color: lightseagreen;
  }
  .navbar .nav-links{
    position: absolute;
    display: block;
    text-align: center;
    width: 50%;
    background-color: lightseagreen;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    right: 0px;
  }
  .navbar .nav-links a {
    display: block;
  }

  .navbar #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  .navbar #nav-check:checked ~ .nav-links {
    height: 600%;
    overflow-y: auto;
  }
  .navbar .nav-links .loginBtn {
    padding: 10px 40px ;
    margin: 20px;
    font-size:  18px;
    color: lightseagreen;
  }
}

p {
  text-align: justify;
}

p {
  text-indent: 50px;
}

table {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 13px;
}

h3 {
  width: 300px;
  border: 3px solid lightseagreen;
  padding: 10px;
  margin: 10px;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h5 {
  width: 300px;
  border: 3px solid lightseagreen;
  padding: 10px;
  margin: 10px;
  text-align: left;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
}

h4 {
  width: 300px;
  border: 3px solid lightseagreen;
  padding: 10px;
  margin: 10px;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
}

footer {
  background: white;
}

footer::after{
  content: '';
  display: table;
  clear: both;
}

.F {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: transparent url("facebook.png") no-repeat 0 0;
}

.F:hover {
  background-position: 0 -40px;
}

.I {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: transparent url("insta.png") no-repeat 0 0;
}

.I:hover {
  background-position: 0 -40px;
}

.L {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: transparent url("LinkedIn.png") no-repeat 0 0;
}

.L:hover {
  background-position: 0 -40px;
}

.Y {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: transparent url("youtube.png") no-repeat 0 0;
}

.Y:hover {
  background-position: 0 -40px;
}

.slidershow {
  width: 600px;
  height: 301px;
  overflow: hidden;
}

.middle {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%,  -50%);
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.bar {
  width: 50px;
  height: 10px;
  border: 2px solid lightseagreen;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover {
  background: lightseagreen;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -20%;
}

#r3:checked ~ .s1 {
  margin-left: -40%;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.img-gallery {
  width: 80%;
  margin: 20px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
}

.img-gallery img {
  width: 100%;
  cursor: pointer;
  height: 100%;
  border-radius: 20px;
}

.img-gallery img:hover {
  transform: scale(0.96);
  transition: all 0.3s ease-out;
  border-radius: 20px;
  box-shadow: 0 32px 75px rgba(68,77,136, 02);
}

.full-img {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.88);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.full-img img {
  width: 90%;
  max-width: 1000px;
}

.full-img span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 33px;
  color: #fff;
  text-shadow: 0 0 3px black;
  cursor: pointer;
}