body {
    margin: 0;
    background: lightskyblue;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300S;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  background: white;
}

header::after{
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

p {
  text-align: justify;
}

p {
  text-indent: 50px;
}

tr:hover {
  background-color: lightseagreen;
}

h3 {
  width: 250px;
  border: 3px solid lightseagreen;
  padding: 25px;
  margin: 20px;
  border-radius: 5%;
}

h5 {
  width: 300px;
  border: 3px solid lightseagreen;
  padding: 25px;
  margin: 20px;
  border-bottom-right-radius: 7%;
  border-top-right-radius: 7%;
}

.fixed-box {
  position: fixed;
  width: 100%;
}

.sticky-header {
  position: fixed;
}

.inner-window {
  border: 3px solid lightseagreen;
  display: flex;
  flex-direction: row;
}

.first-column {
  overflow-y: auto;
  height: 400px;
}

.second-column {
  overflow-y: auto;
  height: 400px;
}