*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url(light_blue.png);
  background-size: cover;
  background-attachment: fixed;
}
.navbar{
  height: 70px;
  width: 100%;
  padding: 14px 30px;
  background-color: white;
  position: relative;
}
.navbar .nav-header{
  display: inline;
}
.navbar .nav-header .nav-logo{
  display: inline-block;
  margin-top: -7px;
}
.navbar .nav-links{
  display: inline;
  float: right;
  font-size: 18px;
}
 
.navbar .nav-links .loginBtn{
  display: inline-block;
  padding: 5px 15px;
  margin-left: 20px;
  font-size: 17px;
  color: black;
}
.navbar .nav-links a{
  padding: 10px 12px;
  text-decoration: none;
  font-weight: 550;
  color: black;
}

.navbar .nav-links a:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar .nav-links a:active {
  background-color: lightskyblue;
  display: always;
}
 
.navbar #nav-check, .navbar .nav-btn{
  display: none;
}
 
@media (max-width:1050px) {
  .navbar .nav-btn{
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .navbar .nav-btn label {
    display: inline-block;
    width: 80px;
    height: 70px;
    padding: 25px;
  }
  .navbar .nav-btn label span {
    display: block;
    height: 10px;
    width: 25px;
    border-top: 3px solid black;
  }
  .navbar .nav-btn label:hover, .navbar #nav-check:checked ~ .nav-btn label {
    background-color: lightskyblue;
  }
  .navbar .nav-links{
    position: absolute;
    display: block;
    text-align: center;
    width: 50%;
    background-color: lightskyblue;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    right: 0px;
  }
  .navbar .nav-links a {
    display: block;
  }

  .navbar #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  .navbar #nav-check:checked ~ .nav-links {
    height: 600%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow-y: auto;
  }
  .navbar .nav-links .loginBtn {
    padding: 10px 40px ;
    margin: 20px;
    font-size:  18px;
    font-weight: bold;
    color: lightskyblue;
    background-color: black;
  }
}

table {
  width: 90%;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 13px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

th {
  font-size: 30px;
}

h3 {
  width: 330px;
  border: 3px solid lightseagreen;
  padding: 10px;
  margin: 10px;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: inline-block;
  text-align: center;
  border-top: 5px ridge lightseagreen;
  border-top-width: 10px;
}

h5 {
  width: 330px;
  border: 3px solid lightseagreen;
  padding: 10px;
  margin: 10px;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: inline-block;
  text-align: left;
  border-top: 5px ridge lightseagreen;
  border-top-width: 10px;
}

h4 {
  width: 30%;
  border: 1px solid #444;
  padding: 10px;
  margin: 10px;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-style: hidden;
  display: inline-block;
}

footer {
  background: white;
  
}

footer::after{
  content: '';
  display: table;
  clear: both;
}

.F {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: transparent url("facebook.png") no-repeat 0 0;
}

.F:hover {
  background-position: 0 -40px;
}

.I {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: transparent url("insta.png") no-repeat 0 0;
}

.I:hover {
  background-position: 0 -40px;
}

.L {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: transparent url("LinkedIn.png") no-repeat 0 0;
}

.L:hover {
  background-position: 0 -40px;
}

.Y {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: transparent url("youtube.png") no-repeat 0 0;
}

.Y:hover {
  background-position: 0 -40px;
}