body {
    margin: 0;
    background: lightskyblue;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300S;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  background: white;
  
}

header::after{
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

p {
  text-align: justify;
}

p {
  text-indent: 50px;
}

table {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 13px;
}

h3 {
  width: 300px;
  border: 3px solid lightseagreen;
  padding: 10px;
  margin: 10px;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
}

h5 {
  width: 300px;
  border: 3px solid lightseagreen;
  padding: 10px;
  margin: 10px;
  text-align: left;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
}

h4 {
  width: 300px;
  border: 3px solid lightseagreen;
  padding: 10px;
  margin: 10px;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
}

footer {
  background: white;
  
}

footer::after{
  content: '';
  display: table;
  clear: both;
}

.F {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: transparent url("facebook.png") no-repeat 0 0;
}

.F:hover {
  background-position: 0 -40px;
}

.I {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: transparent url("insta.png") no-repeat 0 0;
}

.I:hover {
  background-position: 0 -40px;
}

.L {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: transparent url("LinkedIn.png") no-repeat 0 0;
}

.L:hover {
  background-position: 0 -40px;
}

.Y {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: transparent url("youtube.png") no-repeat 0 0;
}

.Y:hover {
  background-position: 0 -40px;
}